<template>
  <section>
    <div class="container">
      <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sequi pariatur nulla accusantium quia suscipit non, est ducimus ex deleniti eaque dolorem incidunt debitis ipsa repudiandae, nobis nam. Impedit, deserunt.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sequi pariatur nulla accusantium quia suscipit non, est ducimus ex deleniti eaque dolorem incidunt debitis ipsa repudiandae, nobis nam. Impedit, deserunt.</p>
      <p>
        Lorem ipsum dolor sit amet consectetur,
        <strong>adipisicing elit.</strong> Quas sequi pariatur nulla accusantium quia suscipit non,
        <a href="/">est ducimus ex deleniti</a> eaque dolorem incidunt debitis ipsa repudiandae, nobis nam. Impedit, deserunt.
      </p>

      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sequi pariatur nulla accusantium quia suscipit non, est ducimus ex deleniti eaque dolorem incidunt debitis ipsa repudiandae, nobis nam. Impedit, deserunt.</p>

      <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sequi pariatur nulla accusantium quia suscipit non, est ducimus ex deleniti eaque dolorem incidunt debitis ipsa repudiandae, nobis nam. Impedit, deserunt.</p>

      <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sequi pariatur nulla accusantium quia suscipit non, est ducimus ex deleniti eaque dolorem incidunt debitis ipsa repudiandae, nobis nam. Impedit, deserunt.</p>
    </div>
  </section>
</template>
