.button {
  border-bottom: none;
  padding: size(1) size(3);
  transition: 150ms ease-in-out;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  font-weight: 600;
}
.button--grey {
  @include color('background-color', 'grey', 700);
  color: white;
}