.row {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + #{$container-margin / 2});
	margin-left: -#{$container-margin / 4};

	@include screen-medium() {
		width: calc(100% + #{$container-margin});
		margin-left: -#{$container-margin / 2};
	}
}
.col {
	padding: #{$container-margin / 4};

	@include screen-medium() {
		padding: #{$container-margin / 2};

	}
}