header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__logo {
  width: 180px;

  @include screen-medium() {
    width: 200px;
  }
}
.header__nav {

  a {
    @include color('color', 'grey', 400);
    text-decoration: none;
    font-weight: normal;
    transition: 150ms ease-in-out;

    & + a {
      margin-left: size(2);
    }

    &:after {
      transition: 200ms ease-in-out;
      position: absolute;
      content: "";
      bottom: -24px;
      left: 50%;
      height: 4px;
      @include color('background-color', 'red', 600);
      width: 0;
      opacity: 0;
      transform: translateX(-50%);
    }

    &.nuxt-link-active {
      color: white;

      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }

}

.header__menu-icon {
  @include color('color', 'grey', 100);
  font-weight: 600;
}
.header__dropdown-nav {
  position: absolute;
  top: 32px;
  right: 0;
  @include color('background-color', 'grey', 100);
  border-radius: 6px;
  width: 250px;
  z-index: 100;
  transition: 150ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  transform: translateX(size(2));

  a {
    display: block;
    text-decoration: none;
    padding: size(2);

    & + a {
      border-top: 1px solid;
      @include color('border-color', 'grey', 200);
    }
  }

  &--open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  @include screen-large() {
    display: none;
  }
}

.page-enter-active, .page-leave-active {
  transition: all .2s
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateY(-10px);
}