.container {
	width: calc(100% - #{$container-margin});
	max-width: $container-width;
	margin: 0 auto;

	&--full {
		max-width: 100%;
	}
	&--medium {
		max-width: 800px;
	}
	&--small {
		max-width: 650px;
	}

	@include screen-medium() {
        width: calc(100% - (#{$container-margin} * 2));
    }
}

.site-content {
	padding-top: 57px;

	@include screen-large() {
		padding-top: 73px;
	}

	&:after {
		position: absolute;
		top: -9999px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.4);
		content: "";
		z-index: 50;
		transition: opacity 150ms ease-in-out;
	}
}