<template>
  <article
    @click="triggerClick"
    class="vehicle-card u:bg-white u:elevate-4 u:rounded-6px u:overflow-hidden u:h-100 u:flex u:flex-col"
  >
    <div>
      <img :src="thumbnail" alt>
    </div>
    <div class="u:flex u:flex-col u:px-2 u:py-4 u:flex-1">
      <h4 class="u:text-capitalize u:mb-0">
        <nuxt-link class="u:h-100" :to="link">{{ title }}</nuxt-link>
      </h4>
      <p class="u:text-grey-800 u:text-capitalize u:mb-1">{{ vehicle.trim }}</p>
      <div class="u:flex u:flex-wrap u:mt-auto">
        <div class="u:w-3/12">
          <p class="u:text-grey-500 u:text-bold u:mb-0">
            <small>Price</small>
          </p>
          <h5 class="u:font-primary u:mb-0">{{ price | currency }}</h5>
        </div>
        <div class="u:w-3/12">
          <p class="u:text-grey-500 u:text-bold u:mb-0">
            <small>Mileage</small>
          </p>
          <h5 class="u:font-primary u:mb-0">{{ vehicle.mileage }}</h5>
        </div>
        <div class="u:w-3/12">
          <p class="u:text-grey-500 u:text-bold u:mb-0">
            <small>Fuel</small>
          </p>
          <h5 class="u:text-capitalize u:font-primary u:mb-0">{{ vehicle.fuel_type }}</h5>
        </div>
        <div class="u:w-3/12">
          <p class="u:text-grey-500 u:text-bold u:mb-0">
            <small>Year</small>
          </p>
          <h5 class="u:font-primary u:mb-0">{{ vehicle.year }}</h5>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  props: ['vehicle'],
  computed: {
    link() {
      return `/vehicles-for-sale/${this.vehicle.id}`
    },
    thumbnail() {
      return `${this.vehicle.media[0].file.thumbnail}`
    },
    price() {
      return this.vehicle.advertisingPrice
    },
    title() {
      return `${this.vehicle.make} ${this.vehicle.model}`
    }
  },
  methods: {
    triggerClick() {
      this.$router.push({
        path: this.link
      })
    }
  }
}
</script>