<template>
  <div>
    <section>
      <nuxt-link to="/">Back to posts</nuxt-link>
    </section>
    <h1>{{ post.vrm }}</h1>

    <div style="position: relative; width: 400px">
      <div
        style="position: absolute; top: 0; left: 0; width: 100%; z-index: 100; height: 100%"
        :src="imageLink(post.media[0])"
        alt
      ></div>
      <img src="https://car-mania.co.uk/img/vehicle-grid-sizing-image.jpg">
    </div>

    <div>{{ post.description }}</div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData({ error, params }) {
    try {
      const post = await axios.get(
        `https://staging.car-mania.co.uk/api/v1/vehicles/${params.id}`
      )

      return {
        post: post.data
      }
    } catch (err) {
      error({ statusCode: 404, message: 'Post not found' })
    }
  },
  methods: {
    imageLink(image) {
      return `${image.file.link}`
    }
  }
}
</script>
