@mixin background() {
	@include generate-colors('bg', 'background-color');
	@include generate-colors('fill', 'fill');

	&bg-white {
		background-color: white;
	}
	
	// Background Positioning
	&bg-cover {
		background-size: cover;
	}
	&bg-center {
		background-position: center;
	}
	&bg-top {
		background-position: top;
	}
	&bg-bottom {
		background-position: bottom;
	}

	@for $i from 0 through 5 {
		&opacity-#{($i * 2) * 10} {
			opacity: ($i * 2) / 10;
		}
	}
}
