@mixin borders() {	
	@for $i from 1 through $border-width-range {
		&border-#{$i}px {
			border: #{$i}px solid;
		}
		&border-t-#{$i}px {
			border-top: #{$i}px solid;
		}
		&border-r-#{$i}px {
			border-bottom: #{$i}px solid;
		}
		&border-b-#{$i}px {
			border-bottom: #{$i}px solid;
		}
		&border-l-#{$i}px {
			border-left: #{$i}px solid;
		}
	}

	@include generate-colors('border', 'border-color');

	&border-none {
		border: none;
	}

	@for $i from 1 through $border-radius-range {
		&rounded-#{$i}px {
			border-radius: #{$i}px;
		}
	}

	&rounded-full {
		border-radius: 50%;
	}
}
