@mixin flex() {
	@for $i from 0 through 12 {
		&w-#{$i}\/12 {
			width: calc((100% / 12) * #{$i});
		}
	}
	&flex {
		display: flex;
	}
	&flex-wrap {
		flex-wrap: wrap;
	}
	&flex-nowrap {
		flex-wrap: nowrap;
	}
	&flex-col {
		flex-direction: column;
	}
	&flex-row {
		flex-direction: row;
	}
	&flex-row-reverse {
		flex-direction: row-reverse;
	}
	&flex-1 {
		flex: 1;
	}
	&justify- {
		&start {
			justify-content: flex-start;
		}
		&end {
			justify-content: flex-end;
		}
		&center {
			justify-content: center;
		}
		&between {
			justify-content: space-between;
		}
		&around {
			justify-content: space-around;
		}
	}
	&items- {
		&start {
			align-items: flex-start;
		}
		&baseline {
			align-items: baseline;
		}
		&center {
			align-items: center;
		}
		&end {
			align-items: flex-end;
		}
	}

	&w-100 {
		width: 100%;
	}
	&mw-100 {
		max-width: 100%;
	}
	&h-100 {
		height: 100%;
	}
}
