@mixin text() {
	@include generate-colors('text', 'color');

	&text-center {
		text-align: center;
	}
	&text-left {
		text-align: left;
	}
	&text-right {
		text-align: right;
	}
	&text-capitalize {
		text-transform: capitalize;
	}
	&text-uppercase {
		text-transform: uppercase;
	}
	&text-white {
		color: white;
	}
	&text-bold {
		font-weight: 600;
	}
	&underline {
		text-decoration: underline;
	}
	&no-underline {
		text-decoration: none;
	}

	&font-primary {
		font-family: $font-primary;
	}

	&text-xs {
		font-size: 1.2rem;
	}
}
