@import "_spacing";
@import "_background";
@import "_borders";
@import "_display";
@import "_flex";
@import "_text";
@import "_shadows";

@mixin group() {
	@include background();
	@include display();
	@include flex();
	@include text();
	@include borders();
	@include shadows();
	@include spacing();
}

.u\: {
	@include group();
}

.u\@xs\: {
	@include screen-xsmall() {
		@include group();
	}
}
.u\@sm\: {
	@include screen-small() {
		@include group();
	}
}

.u\@md\: {
	@include screen-medium() {
		@include group();
	}
}

.u\@lg\: {
	@include screen-large() {
		@include group();
	}
}