h1 {
  
}
h2 {
}
h3 {
}
h4,
h5,
h6 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: size(1);

  a {
    text-decoration: none;
  }
}

p {
}

a {
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
}