label {
}

input {
}

select {
    background-color: white;
    display: block;
    width: 100%;
    padding: size(2);
    padding-right: size(5);
    font-weight: 600;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center right size(2);
    background-image: url('/dropdown-icon.svg');
}
