html {
  font-family: $font-primary;
  font-size: $root-font-size;
  @include color('color', 'grey', 900);
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
