<template>
  <div>
    <header class="header u:py-2 u:bg-grey-900 u:elevate-2">
      <div class="container container--full">
        <div class="u:flex u:items-center">
          <div class="u:flex-1 u:flex u:flex-col">
            <nuxt-link to="/" class="header__logo">
              <img src="/inline-main-white.svg" alt="CarMania logo">
            </nuxt-link>
          </div>

          <nav class="header__nav u:hidden u:flex-1 u:justify-center u@lg:flex">
            <nuxt-link to="/" exact>Home</nuxt-link>
            <nuxt-link to="/vehicles-for-sale">Vehicles For Sale</nuxt-link>
            <nuxt-link to="/services">Services</nuxt-link>
          </nav>

          <nav class="u:hidden u:flex-1 u:justify-end u@lg:flex">
            <nuxt-link class="button button--grey" to="/">Contact</nuxt-link>
          </nav>

          <button
            v-on:click.prevent.stop="toggleNavigation"
            class="header__menu-icon u@lg:hidden"
          >{{ menuButtonText }}</button>

          <nav
            class="header__dropdown-nav u:elevate-1"
            :class="{'header__dropdown-nav--open' : navigation_open}"
          >
            <nuxt-link to="/">Home</nuxt-link>
            <nuxt-link to="/vehicles-for-sale">Vehicles For Sale</nuxt-link>
            <nuxt-link to="/services">Services</nuxt-link>
            <nuxt-link to="/contact">Contact</nuxt-link>
          </nav>
        </div>
      </div>
    </header>

    <section class="site-content">
      <nuxt/>
    </section>

    <footer class="u:py-4 u:bg-grey-900">
      <div class="container">
        <div class="row">
          <div class="col u:w-12/12 u@md:w-6/12">
            <nuxt-link to="/" class="header__logo">
              <img src="/inline-main-white.svg" alt="CarMania logo">
            </nuxt-link>
          </div>
          <div class="col u:w-12/12 u@md:w-3/12">
            <nav class="u:flex u:flex-col">
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/">Home</nuxt-link>
              <nuxt-link
                class="u:text-grey-300 u:no-underline"
                to="/vehicles-for-sale"
              >Vehicles For Sale</nuxt-link>
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/services">Services</nuxt-link>
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/contact">Contact</nuxt-link>
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/contact">Privacy Policy</nuxt-link>
            </nav>
          </div>
          <div class="col u:w-12/12 u@md:w-3/12">
            <nav class="u:flex u:flex-col">
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/">Facebook</nuxt-link>
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/vehicles-for-sale">Twitter</nuxt-link>
              <nuxt-link class="u:text-grey-300 u:no-underline" to="/vehicles-for-sale">Instagram</nuxt-link>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col u:w-12/12">
            <p class="u:text-grey-500">
              <small>
                2019 © The CarMania Group Ltd, All Rights Reserved, Company No. 10217616 (England), VAT No. 243356514
                <br>Authorised and Regulated by the Financial Conduct Authority (Ref No. 777350)
              </small>
            </p>
            <p class="u:text-grey-500 u:mb-0">
              <small>
                A website by
                <a href="https://whitebreadmarketing.com">WhiteBreadMarketing</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navigation_open: false
    }
  },
  watch: {
    navigation_open(val) {
      if (val) {
        document.body.classList.add('modal-open')
      } else {
        document.body.classList.remove('modal-open')
      }
    },
    $route(val) {
      return (this.navigation_open = false)
    }
  },
  computed: {
    menuButtonText() {
      return this.navigation_open ? 'Close Menu' : 'Menu'
    }
  },
  methods: {
    toggleNavigation() {
      return (this.navigation_open = !this.navigation_open)
    },
    hideNavigationOnOutsideClick() {
      if (this.navigation_open) {
        this.navigation_open = false
      }
    }
  }
}
</script>
