<template>
  <div>
    <section class="u:bg-grey-300 u:py-4 u@md:py-10">
      <div class="container">
        <div class="u:text-center">
          <h1>Cars for sale in Northamptonshire.</h1>
          <p
            class="u:text-grey-700"
          >We provide a personal service and can offer finance, vehicle servicing and warranty.</p>
        </div>
        <div class="u:text-center u:mt-4">
          <form @submit="filterVehicles">
            <div class="u:flex u:flex-wrap u:text-left">
              <div class="u:w-6/12 u@md:flex-1">
                <label for>Make</label>
                <select class="u:text-uppercase" v-model="filters.make">
                  <option :value="null">All</option>
                  <option v-for="make in makes" :value="make" :key="make">{{ make }}</option>
                </select>
              </div>
              <div class="u:ml-2 u:w-6/12 u@md:flex-1">
                <label for>Model</label>
                <select class="u:text-uppercase" v-model="filters.model">
                  <option :value="null">All</option>
                  <option v-for="model in models" :value="model" :key="model">{{ model }}</option>
                </select>
              </div>
              <div class="u:ml-2 u:w-6/12 u@md:flex-1">
                <label for>Fuel Type</label>
                <select class="u:text-uppercase" v-model="filters.fuel_type">
                  <option :value="null">All</option>
                  <option v-for="type in fuelTypes" :value="type" :key="type">{{ type }}</option>
                </select>
              </div>
              <div class="u:ml-2 u:w-6/12 u@md:flex-1">
                <label for>Transmission</label>
                <select class="u:text-uppercase" v-model="filters.gearbox">
                  <option :value="null">All</option>
                  <option v-for="gearbox in gearboxes" :value="gearbox" :key="gearbox">{{ gearbox }}</option>
                </select>
              </div>
              <div class="u:ml-2 u:w-6/12 u:flex-1 u:flex">
                <button
                  type="submit"
                  class="button button--grey u:w-100 u:py-2 u:mt-auto"
                >Search ({{ filteredVehicles.length }})</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="u:py-4 u@md:py-10 u:bg-grey-100">
      <div class="container">
        <h3>Featured Vehicles</h3>
        <div class="row">
          <div
            class="col u:w-12/12 u@sm:w-6/12 u@md:w-4/12"
            v-for="vehicle, idx in vehicles"
            :key="vehicle.vrm"
          >
            <VehicleCard :vehicle="vehicle"></VehicleCard>
          </div>
        </div>

        <div class="u:mt-2 u:mt-4 u:text-center">
          <nuxt-link to="/vehicles-for-sale" class="button button--grey">View all vehicles</nuxt-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import VehicleCard from '~/components/VehicleCard.vue'

export default {
  components: {
    VehicleCard
  },
  data() {
    return {
      filters: {
        make: null,
        model: null,
        fuel_type: null,
        gearbox: null
      }
    }
  },
  async asyncData() {
    const api = await axios.get(
      `https://staging.car-mania.co.uk/api/v1/vehicles`
    )
    const vehicles = api.data.vehicles

    return {
      vehicles
    }
  },
  watch: {
    filterMake() {
      this.filters.model = this.filters.fuel_type = null
    }
  },
  computed: {
    filterMake() {
      return this.filters.make
    },
    filteredVehicles() {
      return this.vehicles
        .filter(vehicle =>
          this.filters.make ? vehicle.make == this.filters.make : true
        )
        .filter(vehicle =>
          this.filters.model ? vehicle.model == this.filters.model : true
        )
        .filter(vehicle =>
          this.filters.fuel_type
            ? vehicle.fuel_type == this.filters.fuel_type
            : true
        )
        .filter(vehicle =>
          this.filters.gearbox ? vehicle.gearbox == this.filters.gearbox : true
        )
    },
    makes() {
      return [...new Set(this.filteredVehicles.map(vehicle => vehicle.make))]
    },
    models() {
      return [...new Set(this.filteredVehicles.map(vehicle => vehicle.model))]
    },
    fuelTypes() {
      return [
        ...new Set(this.filteredVehicles.map(vehicle => vehicle.fuel_type))
      ]
    },
    gearboxes() {
      return [...new Set(this.filteredVehicles.map(vehicle => vehicle.gearbox))]
    }
  },
  methods: {
    filterVehicles() {
      const filters = `?=${this.filters.model}&model=${
        this.filters.make
      }&fuel_type=${this.filters.make}&gearbox=${this.filters.gearbox}`

      $nuxt.$router.push({
        path: `/vehicles-for-sale/`
      })
    }
  }
}
</script>