@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,600,700');
$font-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif: 'Merriweather', serif;

$font-primary: $font-sans-serif;
$font-secondary: $font-serif;

$root-font-size: 10px;

$typography-loop: (
    p: (
        base: (1.6rem, 2),
        $breakpoint-medium: 1.8rem,
    ),
    h1: (
        base: 3.2rem,
        $breakpoint-medium: 4rem,
        $breakpoint-large: 4.8rem,
    ),
    h2: (
        base: 2.6rem,
        $breakpoint-medium: 3.2rem,
        $breakpoint-large: 3.6rem,
    ),
    h3: (
        base: 2.2rem,
        $breakpoint-medium: 2.4rem,
        $breakpoint-large: 2.8rem,
    ),
    h4: (
        base: 2rem
    )
)