/**
* This file defines the generic vaiables
*/

$loop-count: 20;

$saturation-range: 10;

$minimum-color-lightness: 10;
$maximum-color-lightness: 90;

$dark-color-naming-array: ('dark', 'darker', 'darkest');
$light-color-naming-array: ('light', 'lighter', 'lightest');

$border-width-range: 6;
$border-radius-range: 10;

// Switch this to min / max to change the media queries
$media-query-prefix: 'min';

$container-width: 120rem;
$container-margin: 4rem;
